@font-face {
  font-family: 'IRANYEKAN';
  src:
    url('./IRANYEKAN/IRANYEKAN.woff2') format('woff2'),
    url('./IRANYEKAN/IRANYEKAN.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IRANYEKAN';
  src:
    url('./IRANYEKAN/IRANYEKAN-BOLD.woff2') format('woff2'),
    url('./IRANYEKAN/IRANYEKAN-BOLD.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IRANYEKAN';
  src:
    url('./IRANYEKAN/IRANYEKAN-LIGHT.woff2') format('woff2'),
    url('./IRANYEKAN/IRANYEKAN-LIGHT.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IRANYEKAN';
  src:
    url('./IRANYEKAN/IRANYEKAN-MEDIUM.woff2') format('woff2'),
    url('./IRANYEKAN/IRANYEKAN-MEDIUM.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
  font-family: var(--font-family);
  direction: rtl;
}
